body
  font 10px sans-serif

.axis path, .axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.x.axis path
  display none

.line
  fill none
  stroke steelblue
  stroke-width 1.5px

.content-wrapper
  width 1200px
  margin 0 auto

section.daylight-viz
  display flex
  flex-direction row

  > .studio-list
    flex 1
    
    > ul
      list-style-type none
      height 100%
    
      > li
        font-size 20px
        padding-left 8px
        padding-top 5px
        padding-bottom 5px

        &:hover
          background-color linen
  
  > .chart
    flex 3
    display inline-block
    position relative
    width 100%
    padding-bottom 39%
    vertical-align middle
    overflow hidden  

    > svg
      display inline-block
      position absolute
      top 0
      left 0

svg.studio-highlighted
  
  .line
    opacity 0.2

  .highlighted path
    stroke-width 8px
    opacity 1
