html
  head
    link(href="/styles/style.css" rel="stylesheet" type="text/css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js")
    script(src="/js/node_bundle.js")
  body
    section.chart
    script(src="/js/solstice.js")
