html
  head
    link(href="/styles/style.css" rel="stylesheet" type="text/css")
  body
    h1 Studio Photoperiods
    p In celebration of the June solstice, we decided to have a look at how
      | day length differs between seasons and between studios here at Deloitte
      | Digital.
    section.chart
      h2.chart-title Photoperiods for Our Studios
      .chart-wrapper
        .checkboxes
          ul
            li
              .checkbox Seattle Fremont Studio
            li
              .checkbox Pioneer Square Studio
            li
              .checkbox Denver
            li
              .checkbox Washington D.C.
            li
              .checkbox Melbourne
            li
              .checkbox Sydney
            li
              .checkbox Adelaide
            li
              .checkbox Perth
            li
              .checkbox Toronto
            li
              .checkbox London
            li
              .checkbox Mumbai
            li
              .checkbox Tokyo
            li
              .checkbox Johannesburg
            li
              .checkbox Stellenbosch
        .main-chart
          //- put that chart shit here
